/*SHARED*/
    /*FONTS*/
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

    /*BODY*/
    body{
        color: white !important;
        background-color: #2a2a2a !important;
        font-family: 'Raleway', sans-serif !important;

    }

    /* BOTTOM */
    .bottom h1{
        font-size: 1em;
    }

    /* ICONS */
    .icofont{
        font-size: 5em;
    }

    .icofont-small{
        font-size: 2.5em;
        color: white;
    }

    .icofont-small:hover{
        color: #ff194e !important;
    }

    .decoration:hover{
        text-decoration: none;
    }

    /* NAVBAR */
    .navbar{
        background-color: #2a2a2a;
    }

    .nav-link, .navbar-brand{
        color: white !important;
    }

/* MAIN */

.menu{
    margin: 5%;
}

.password{
    padding: 2%;
    margin: 1% auto 2% auto;
    width: 40%;
    border: 1px white solid;
}

/* ABOUT */

.about{
    width: 60%;
    margin: 3% auto;
}

.about h1{
    font-size: 2em;
}

.about h2{
    font-size: 1.5em;
}

.img-logo{
    margin: 5%;
    width: 50%;
}

#length{
    text-align: center;
    border: none;
    width: 4%;
    background-color: #545151;
    color: white;
}

.btn{
    margin-bottom: 1%;
}

/*
Media query
*/
/*Medium devices*/
@media only screen and (max-width: 960px) {

    .about{
        width: 90%;
    }

    .password{
        width: 75%;
    }

    #length{
        width: 12%;
    }
}



